<!DOCTYPE html>
<html>
<head>
<script src="myScript">

</script>
</head>

<body>

<h2>JavaScript in Head</h2>

<p id="demo">A Paragraph.</p>

<button type="button" onclick="myFunction()">hey man how are you doing</button>

</body>
</html> 
